version: "3.8"

services:
  # ==========================================
  # APPLICATION SERVICES
  # ==========================================
  serving-api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: serving-api
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    networks:
      - app_net          
      

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - app_net         

  # ==========================================
  # MONITORING SERVICES
  # ==========================================
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./reporting/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - monitoring_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000" 
    volumes:
      - grafana-data:/var/lib/grafana
      - ./reporting/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    networks:
      - monitoring_net
    depends_on:
      - prometheus

  evidently-exporter:
    build:
      context: ./reporting
      dockerfile: Dockerfile
    container_name: evidently-exporter
    ports:
      - "8020:8020"

    networks:
      - monitoring_net

# ==========================================
# DÉFINITION DES RÉSEAUX
# ==========================================
networks:
  app_net:
    driver: bridge
  monitoring_net:
    driver: bridge

volumes:
  prometheus-data:
  grafana-data:
  n8n_data: