apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-data
  namespace: projetml1
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: do-block-storage
